.App {
  text-align: center;
}

body{
  background-color: #FAFAFA;
}


.heading{
  color: #697479;
  padding: 25px;
}

.login{
  background-color: #d5d7d4;
  color: #697479;
  border-radius: 5px;
  padding: 25px;

  /* center on screen*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dropdown-menu {
  min-width:300px;
}

.dropdownInput{
  width: 90%;
  margin: 0 auto;
}

.form-label{
  color: #697479;
  font-size: 13px;
  margin-bottom: 0;
}